@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');


.neon {
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(156, 124, 241),
        0 0 82px rgb(156, 124, 241);
  }

  html {
    height: 100vh;
  }

  body {
    font-family: "Vibur", sans-serif;
    background-color: #3880ad;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #container {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    height: 45%;
  }


 
  a.button {
    display: block;
    position: relative;
    height: 65px;
    width: 230px;
    margin: 20px 0 0 0;
    text-decoration: none;
    font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

a.button:before,
a.button:after {
  content: '';
  position: absolute;
  left: -1px;
  height: 65px;
  width: 230px;
  bottom: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
a.button:before {
  height: 65px;
  bottom: -4px;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
  -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
  box-shadow: 0 1px 1px 0px #bfbfbf;
}

a.color,
a.color:hover,
a.color:visited {
  color: #5d7731;
  border-bottom: 4px solid #799545;
  text-shadow: 0px 1px 0px #d5e8aa;
  background: #cae285;
  background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
  background: -moz-linear-gradient(top, #cae285, #a3cd5a);
  box-shadow: inset 1px 1px 0 #cce3a1;
}
 
.color:before,
.color:after {
  border: 1px solid #98b85b;
  border-bottom: 1px solid #6d883b;
}
 
.color:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
}

a.button:active {
  border: none;
  bottom: -4px;
  margin-bottom: 3px;

  -webkit-box-shadow: 0 1px 1px #fff;
  -moz-box-shadow:  0 1px 1px #fff;
  box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

a.button:active:before,
a.button:active:after {
  border: none;   

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#canvas {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.h1 {
  color: #7b5777;
  text-align: center;
  font: 22px Arial, sans-serif;
}

#AI_container {
  /*display: none;*/
  /*margin-bottom: 30vh;*/
  opacity: 0;
  transition: opacity ease 1s 0s;
}

#image {
  display: none;
  width: 200px;
  height: 200px;
}

#console {
  display: none;
}

#console p {
  display: inherit;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: limegreen;
  text-shadow: 0px 0px 10px limegreen;
}

.msg {
  display: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5vh;
  padding-top: 5vh;
  background: red;
  box-shadow: 0 0 30px red;
  text-shadow: 0 0 20px white;
  color: white;
  padding : 20px;
  position: absolute;
  left: 25%;
  /*margin-left: -10vw;*/
  top: 50%;
  margin-top: -5vh;
  text-align: center;
  max-width: 200px;
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (width <= 700px ) {
  .msg {
    left: 25%;
  }
}

@media screen and (width > 700px) {
  .msg {
    left: 40%;
  }
}